<template>
  <div>
    <ag-grid-vue
      style="width: 100%"
      class="flex-grow-1 flex-shrink-1 ag-theme-alpine"
      :grid-options="gridOptions"
      :column-defs="columnDefs"
      :row-data="rowData"
      :side-bar="sideBar"
      :modules="modules"
      :default-col-def="{
        sortable: true,
        resizable: true,
        filter: true,
        floatingFilter: true,
      }"
      :group-headers="true"
      :suppress-row-click-selection="true"
      row-selection="multiple"
      @grid-ready="onReady"
      @model-updated="onModelUpdated"
      @cell-clicked="onCellClicked"
      @cell-double-clicked="onCellDoubleClicked"
      @cell-context-menu="onCellContextMenu"
      @cell-value-changed="onCellValueChanged"
      @cell-focused="onCellFocused"
      @row-selected="onRowSelected"
      @selection-changed="onSelectionChanged"
      @filter-modified="onFilterModified"
      @virtual-row-removed="onVirtualRowRemoved"
      @row-clicked="onRowClicked"
      @column-everything-changed="onColumnEvent"
      @column-row-group-changed="onColumnEvent"
      @column-value-Changed="onColumnEvent"
      @column-moved="onColumnEvent"
      @column-visible="onColumnEvent"
      @column-group-Opened="onColumnEvent"
      @column-resized="onColumnEvent"
      @column-pinned-count-changed="onColumnEvent"
    />
  </div>
</template>

<script>
import { AgGridVue } from '@ag-grid-community/vue'

// for community features
// import {AllCommunityModules} from "@ag-grid-community/all-modules";

// for enterprise features
import { AllModules } from '@ag-grid-enterprise/all-modules'
import axios from 'axios'
import DateComponent from './DateComponent.vue'

export default {
  components: {
    AgGridVue
  },
  data () {
    return {
      gridOptions: null,
      api: null,
      columnDefs: null,
      rowData: null,
      showGrid: false,
      sideBar: false,
      rowCount: null,
      modules: AllModules,
      stockApi: null
    }
  },
  beforeMount () {
    this.gridOptions = {}
    this.gridOptions.dateComponentFramework = DateComponent
    this.getstockApi()
    this.createColumnDefs()
    this.showGrid = true
  },
  methods: {
    // createRowData() {
    //   const rowData = [];

    //   for (let i = 0; i < 200; i++) {
    //     const countryData = RefData.COUNTRIES[i % RefData.COUNTRIES.length];
    //     rowData.push({
    //       name:
    //         RefData.FIRST_NAMES[i % RefData.FIRST_NAMES.length] +
    //         " " +
    //         RefData.LAST_NAMES[i % RefData.LAST_NAMES.length],
    //       skills: {
    //         android: Math.random() < 0.4,
    //         html5: Math.random() < 0.4,
    //         mac: Math.random() < 0.4,
    //         windows: Math.random() < 0.4,
    //         css: Math.random() < 0.4,
    //       },
    //       dob: RefData.DOBs[i % RefData.DOBs.length],
    //       address: RefData.ADDRESSES[i % RefData.ADDRESSES.length],
    //       years: Math.round(Math.random() * 100),
    //       proficiency: Math.round(Math.random() * 100),
    //       country: countryData.country,
    //       continent: countryData.continent,
    //       language: countryData.language,
    //       mobile: createRandomPhoneNumber(),
    //       landline: createRandomPhoneNumber(),
    //     });
    //   }

    //   this.rowData = rowData;
    // },
    createColumnDefs () {
      this.columnDefs = [
        {
          headerName: '#',
          minWidth: 60,
          width: 60,
          checkboxSelection: true,
          sortable: false,
          suppressMenu: true,
          pinned: true
        },
        {
          headerName: '基本資訊',
          // headerGroupComponentFramework: HeaderGroupComponent,
          children: [
            {
              headerName: '股票代號',
              field: 'stockId',
              width: 150,
              pinned: true
            },
            {
              headerName: '股票名稱',
              field: 'stockName',
              width: 150,
              pinned: true,
              filter: 'agSetColumnFilter',
              filterParams: {
                applyMiniFilterWhileTyping: true,
                cellHeight: 20
              },
              editable: true,
              cellEditor: 'agRichSelectCellEditor'
            }
            // {
            //   headerName: "DOB",
            //   field: "dob",
            // filter: 'agSetColumnFilter',
            //   width: 120,
            //   pinned: true,
            //   cellRenderer: (params) => {
            //     return (
            //       this.pad(params.value.getDate(), 2) +
            //       "/" +
            //       this.pad(params.value.getMonth() + 1, 2) +
            //       "/" +
            //       params.value.getFullYear()
            //     );
            //   },
            //   filter: "agDateColumnFilter",
            //   columnGroupShow: "open",
            // filterParams: {
            // applyMiniFilterWhileTyping: true,
            //  },
            // },
          ]
        },
        // {
        //   headerName: "IT Skills",
        //   children: [
        //     {
        //       headerName: "Skills",
        //       width: 125,
        //       sortable: false,
        //       cellRenderer: skillsCellRenderer,
        //       filter: SkillFilter,
        //     },
        //     {
        //       headerName: "Proficiency",
        //       field: "proficiency",
        //       width: 120,
        //       cellRenderer: percentCellRenderer,
        //       filter: ProficiencyFilter,
        //     },
        //   ],
        // },
        {
          headerName: '盤後資訊',
          children: [
            {
              headerName: '本益比',
              field: 'stockPERatio',
              width: 150,
              filter: 'text'
            },
            {
              headerName: '殖利率',
              field: 'stockYieldRate',
              width: 150,
              filter: 'text',
              editable: true
            },
            {
              headerName: '股價淨值比',
              field: 'StockPriceToNetRatio',
              width: 150,
              filter: 'text',
              editable: true,
              cellEditor: 'agLargeTextCellEditor'
            }
          ]
        }
      ]
    },
    pad (num, totalStringSize) {
      let asString = num + ''
      while (asString.length < totalStringSize) { asString = '0' + asString }
      return asString
    },

    calculateRowCount () {
      if (this.api && this.rowData) {
        const model = this.gridOptions.api.getModel()
        const totalRows = this.rowData.length
        const processedRows = model.getRowCount()
        this.rowCount =
          processedRows.toLocaleString() + ' / ' + totalRows.toLocaleString()
      }
    },

    onModelUpdated () {
      console.log('onModelUpdated')
      this.calculateRowCount()
    },

    onReady (params) {
      console.log('onReady')

      this.api = params.api
      this.calculateRowCount()

      this.api.sizeColumnsToFit()
    },

    onCellClicked (event) {
      console.log(
        'onCellClicked: ' + event.rowIndex + ' ' + event.colDef.field
      )
    },

    onCellValueChanged (event) {
      const oldValue = event.oldValue
      // const newValue = event.newValue
      event.value = oldValue
      console.log(event.rowIndex, event.value)
    },

    onCellDoubleClicked (event) {
      console.log(event)
    },

    onCellContextMenu (event) {
      console.log(
        'onCellContextMenu: ' + event.rowIndex + ' ' + event.colDef.field
      )
    },

    onCellFocused (event) {
      console.log(
        'onCellFocused: (' + event.rowIndex + ',' + event.colIndex + ')'
      )
    },

    // taking out, as when we 'select all', it prints to much to the console!!
    // eslint-disable-next-line
    onRowSelected(event) {
      // console.log('onRowSelected: ' + event.node.data.name);
    },

    onSelectionChanged () {
      console.log('selectionChanged')
    },

    onFilterModified () {
      console.log('onFilterModified')
    },

    // eslint-disable-next-line
    onVirtualRowRemoved(event) {
      // because this event gets fired LOTS of times, we don't print it to the
      // console. if you want to see it, just uncomment out this line
      // console.log('onVirtualRowRemoved: ' + event.rowIndex);
    },

    onRowClicked (event) {
      console.log('onRowClicked: ' + event.node.data.name)
    },

    onQuickFilterChanged (event) {
      this.gridOptions.api.setQuickFilter(event.target.value)
    },

    // here we use one generic event to handle all the column type events.
    // the method just prints the event name
    onColumnEvent (event) {
      console.log('onColumnEvent: ' + event)
    },
    async getstockApi () {
      const { data: stockResApi } = await axios.get('/stockapi')
      this.rowData = stockResApi.data.map(item => ({
        stockId: item[0],
        stockName: item[1],
        stockPERatio: item[2],
        stockYieldRate: item[3],
        StockPriceToNetRatio: item[4]
      }))
    }
  }
  // mounted() {
  //  this.getstockApi();
  // }
}

// function skillsCellRenderer (params) {
//   const data = params.data
//   const skills = []
//   RefData.IT_SKILLS.forEach(function (skill) {
//     if (data && data.skills && data.skills[skill]) {
//       skills.push(
//         '<img src="https://www.ag-grid.com/example-assets/skills/' +
//           skill +
//           '.png" width="16px" title="' +
//           skill +
//           '" />'
//       )
//     }
//   })
//   return skills.join(' ')
// }

// function countryCellRenderer (params) {
//   const flag =
//     "<img border='0' width='15' height='10' style='margin-bottom: 2px' src='https://www.ag-grid.com/example-assets/flags/" +
//     RefData.COUNTRY_CODES[params.value] +
//     ".png'>"
//   return flag + ' ' + params.value
// }

// function countryNameRenderer () {
//   return RefData.COUNTRIES.map(it => it.country)
// }

// function createRandomPhoneNumber () {
//   let result = '+'
//   for (let i = 0; i < 12; i++) {
//     result += Math.round(Math.random() * 10)
//     if (i === 2 || i === 5 || i === 8) {
//       result += ' '
//     }
//   }
//   return result
// }

// function percentCellRenderer (params) {
//   const value = params.value

//   const eDivPercentBar = document.createElement('div')
//   eDivPercentBar.className = 'div-percent-bar'
//   eDivPercentBar.style.width = value + '%'
//   if (value < 20) {
//     eDivPercentBar.style.backgroundColor = 'red'
//   } else if (value < 60) {
//     eDivPercentBar.style.backgroundColor = '#ff9900'
//   } else {
//     eDivPercentBar.style.backgroundColor = '#00A000'
//   }

//   const eValue = document.createElement('div')
//   eValue.className = 'div-percent-value'
//   eValue.innerHTML = value + '%'

//   const eOuterDiv = document.createElement('div')
//   eOuterDiv.className = 'div-outer-div'
//   eOuterDiv.appendChild(eValue)
//   eOuterDiv.appendChild(eDivPercentBar)

//   return eOuterDiv
// }
</script>

<style>
.ag-cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

label {
  font-weight: normal !important;
}

.div-percent-bar {
  display: inline-block;
  height: 100%;
  position: relative;
  z-index: 0;
}

.div-percent-value {
  position: absolute;
  padding-left: 4px;
  font-weight: bold;
  font-size: 13px;
  z-index: 100;
}

.div-outer-div {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.ag-menu {
  z-index: 200;
}

.toolbar button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
}
</style>
